@import '../../styles/styles';

.wish {
  width: 200px;

  &__title {
    font-size: $global-font-size-medium;
    margin: $global-spacing-small 0 $global-spacing-extra-tiny;
  }

  &__prize {
    font-size: $global-font-size-tiny;
    margin-bottom: $global-spacing-extra-tiny;
  }

  &__description {
    color: $global-gray-font-color;
    font-size: $global-font-size-extra-tiny;
    margin-bottom: $global-spacing-small;
  }
}