@import '../../styles/styles';

.friend {
  $local-font-size-mobile: 20px;

  display: flex;

  @include media('<=phone') {
    width: 200px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    margin-left: $global-spacing-medium;
    font-size: $global-font-size-medium-big;

    @include media('<=phone') {
      margin-left: 0;
    }
  }

  &__name {
    margin-bottom: $global-spacing-medium;

    @include media('<=phone') {
      text-align: center;
      font-size: $local-font-size-mobile;
      margin-bottom: 0;
    }
  }

  &__button {
    width: 200px;
    text-align: center;
  }
}