@import '../../styles/constants';

.user {
  display: flex;
  margin-top: $global-spacing-large;
  margin-bottom: $global-spacing-medium;

  &__info {
    margin-left: $global-spacing-medium;
  }

  &__fullname {
    display: flex;
    justify-content: space-between;
    font-size: $global-font-size-big;
    margin-bottom:  $global-spacing-tiny;
  }

  &__wish {
    margin-bottom: $global-spacing-small;
  }

}