.user {
  margin-top: 5%;
}

.text {
    display: inline-block;
    vertical-align: top;
}

.name {
  font-size: 48px;
  margin: 0px;
}

.wants {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}