@import '~styles/styles';
.text-emoji {
  $local-font-size: 15px;
  display: inline-block;
  text-align: center;

  &__text {
    font-size: $local-font-size;
    margin-right: $global-spacing-tiny;
    color: #000000;
    cursor: default;

    &_active {
      @include linkText;
      font-size: $local-font-size;
      cursor: pointer;
    }
  }

  &__img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }
}
