@import 'styles/styles';

.wish-list {
  $local-spacing: calc((800px - 3 * 200px) / 4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include media('<=phone') {
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    z-index: 2;
  }

  &__wish {
    margin: 0 0 $local-spacing $local-spacing;
    box-sizing: content-box;

    @include media('<=phone') {
      margin: 0 0 0 $global-spacing-medium;
    }

    &_last {
      @include media('<=phone') {
        padding-right: $global-spacing-medium;
      }
    }
  }

  &__btn {
    padding-right: $global-spacing-medium;
  }
}