@import '~styles/styles';

.wish-list {
  $local-spacing: calc((752px - 3 * 200px) / 4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include media('<=phone') {
    flex-wrap: nowrap;
    overflow-x: auto;
    z-index: 2;
  }

  &__wish {
    margin: 0 0 $local-spacing $local-spacing;

    @include media('<=phone') {
      margin: 0 0 0 $global-spacing-medium;
    }
  }
}