$global-spacing-small: 16px;
$global-spacing-medium: 24px;

$global-font-size-medium: 16px;
$global-font-size-big: 40px;

$global-border-radius-medium: 24px;

$global-input-height: 50px;

$global-blue-color: #329eff;
$global-linear-top-blue-color: #7dc4ff;
$global-linear-bot-blue-color: #6700ff;
$global-gray-color: #dddddd;