@import 'constants';
@import './include-media';

@mixin linkText() {
  color: $global-blue-color;
  font-size: $global-font-size-medium;

  &:hover {
    color: #2a85d7;
  }

  &:active {
    color: #2168a8;
  }
}

@mixin titleText() {
  color: #000000;
  font-size: $global-font-size-big;
}

@mixin mobileTitleText() {
  color: #000000;
  font-size: $global-font-size-medium-large;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin absoluteHorizontalCenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin header() {
  padding: $global-spacing-medium $global-spacing-medium 0;

  @include media('<=phone') {
    padding: $global-spacing-large $global-spacing-medium 0;
  }
}