@import "constants";

@mixin linkText() {
  color: $global-blue-color;
  font-size: $global-font-size-medium;
}

@mixin titleText() {
  color: #000000;
  font-size: $global-font-size-big;
}

@mixin mobileTitleText() {
  color: #000000;
  font-size: $global-font-size-medium-large;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin absoluteHorizontalCenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}