@import 'styles/styles';

.profile-page {
    &__header {
        @include header;
    }

    &__user-card {
        padding: $global-spacing-medium;
    }

    &__list {
        margin-top: $global-spacing-large;

        @include media('<=phone') {
            margin-top: 0;
        }
    }

    &__tip {
        margin-top: $global-spacing-large;
    }
}