@import '../../styles/mixins';

.header {
  $local-spacing: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__user-profile {
    display: flex;
    align-items: center;
  }
  
  &__nickname {
    display: inline-block;
    margin-left: $global-spacing-small;

    @include linkText;
  }

  &__back-link {
    @include linkText;
  }

  &__friends {
    display: flex;
    align-items: center;
  }

  &__friends-title {
    @include linkText;
  }

  &__friends-avatars {
    margin-left: $global-spacing-small;
    display: flex;
    flex-direction: row-reverse;
  }

  &__friend-avatar {
    margin-right: -$local-spacing;

    &:first-child {
      margin-right: 0;
    }
  }
}

