@import 'styles/styles';

.simple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;

  &_small {
    width: 100px;
    height: 30px;
    font-size: $global-font-size-medium-button;
  }

  &_medium {
    width: 150px;
    height: 40px;
    font-size: $global-font-size-medium-button;
  }

  &_large {
    width: 200px;
    height: 40px;
    font-size: $global-font-size-large-button;
  }

  &_blue {
    background: linear-gradient(79deg, $global-linear-top-blue-color, $global-linear-bot-blue-color);
    color: #FFFFFF;

    &:hover {
      background: linear-gradient(79deg, $global-linear-bot-blue-color, $global-linear-top-blue-color);
    }
  }

  &_light {
    background: linear-gradient(73deg, $global-linear-top-white-color, $global-linear-bot-white-color);
    color: #000000;

    &:hover {
      background: linear-gradient(79deg, $global-linear-bot-white-color, $global-linear-top-white-color);
    }
  }

  &_gray {
    background: $global-gray-darken-color;
    color: #000000;

    &:hover {
      background: darken($global-gray-darken-color, 5%);
    }
  }


  &__text {
    letter-spacing: 0;
  }

  &__emoji {
    margin-left: $global-spacing-tiny;
  }
}