@import 'styles/styles';

.wish-list-page {
  $local-spacing: calc((752px - 3 * 200px) / 4);

  &__header {
    padding: $global-spacing-medium $global-spacing-medium 0;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: $global-spacing-medium auto;

    @include titleText;

    @include media('<=phone') {
      @include mobileTitleText;
    }

    @include media('<=iphone5') {
      margin: $global-spacing-small auto;
    }
  }

  &__input-container {
    padding: 0 $global-spacing-medium;
    text-align: center;
  }

  &__input {
    display: inline-block;
    width: 500px;
    max-width: 100%;
  }

  &__content {
    margin-top: $global-spacing-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    @include media('<=iphone5') {
      margin-top: $global-spacing-small;
    }
  }

  &__popular-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $global-font-size-medium-large;
  }

  &__list {
    margin-top: $global-spacing-large;

    @include media('<=phone') {
      margin-top: 0;
    }
  }

  &__wish {
    margin: 0 0 $local-spacing $local-spacing;
  }

  &__loader-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__love-emoji {
    margin-left: $global-spacing-small;
  }

  &__favorite-emoji {
    width: 40px;
    height: 40px;
    margin-left: $global-spacing-tiny;
  }
}