@import '../../styles/styles';

.wish-list {
  $local-spacing: calc((752px - 3 * 200px) / 4);

  &__title {
    display: flex;
    justify-content: center;
    margin: $global-spacing-medium auto;

    @include titleText;

    @include media('<=phone') {
      @include mobileTitleText;
    }
  }

  &__input {
    max-width: 500px;
    margin: 0 auto;
  }

  &__content {
    margin-top: $global-spacing-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__popular-text {
    font-size: $global-font-size-medium-large;
    text-align: center;
  }

  &__list {
    margin-top: $global-spacing-large;
  }

  &__wish {
    margin: 0 0 $local-spacing $local-spacing;
  }

  &__loader-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
}