@import 'styles/styles';

.friends-page {
  &__header {
    padding: $global-spacing-medium $global-spacing-medium 0;
  }

  &__loader-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: $global-spacing-medium auto;

    @include titleText;

    @include media('<=phone') {
      @include mobileTitleText;
    }
  }

  &__input-container {
    padding: 0 $global-spacing-medium;
    display: flex;
    justify-content: center;
  }

  &__input {
    max-width: 500px;
  }

  &__friends {
    max-width: 400px;
    margin: $global-spacing-big auto 0;

    @include media('<=phone') {
      display: flex;
      flex-direction: row;
      overflow-y: auto;
    }
  }

  &__friend {
    margin-top: $global-spacing-big;

    &:first-child {
      margin-top: 0;
    }

    @include media('<=phone') {
      margin: 0 $global-spacing-medium 0 0;

      &:first-child {
        margin-left: $global-spacing-medium;
      }
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $global-spacing-big 0 ;

    @include media('<=phone') {
      padding: 0 $global-spacing-medium 0 0;
    }
  }


  &__tip {
    @include absoluteCenter;
  }

  &__tongue-emoji {
    margin-left: $global-spacing-small;
  }
}