@import '../../styles/mixins';
@import '../../styles/constants';
@import '../../styles/_include-media';

.friends-page {
  &__loader {
    @include absoluteCenter;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: $global-spacing-medium auto;

    @include titleText;

    @include media('<=phone') {
      @include mobileTitleText;
    }
  }

  &__input {
    max-width: 500px;
    margin: 0 auto;
  }

  &__friends {
    max-width: 400px;
    margin: 0 auto;
  }

  &__friend {
    margin-top: $global-spacing-big;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    margin-top: $global-spacing-large;
  }

  &__tip {
    @include absoluteCenter;
  }
}