.avatar {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  &_small {
    width: 40px;
    height: 40px;
  }

  &_medium {
    width: 100px;
    height: 100px;
  }

  &_large {
    width: 200px;
    height: 200px;
  }
}