.avatar {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  &_small {
    width: 40px;
    height: 40px;
  }

  &_medium {
    width: 100px;
    height: 100px;
  }

  &_big {
    width: 150px;
    height: 150px;
  }

  &_overlay {
    margin-left: -20px;
  }
}